@import "utilities/variables";

div.panel {
  box-shadow: none;
  margin-bottom: $d_default-pad;
  padding: 0 $d_default-pad/2 $d_default-pad/2 $d_default-pad/2;

  div.panel-body {
    padding-top: $d_default-pad/2;
  }

  table {
    margin-bottom: 0;
  }
}

div.panel-heading {
  font-weight: 400;
  font-size: 1.2em;
  width:auto !important;
  background-color: transparent !important;
  margin-left: $d_default-pad;
  margin-right: $d_default-pad;
  display: inline-block;
  padding: $d_default-pad/4;
  margin-bottom: $d_default-pad/2;

  > h1, h2, h3, h4, h5, h6 {
    margin: 5px;
  }
}