@import "utilities/variables";

.bootstrap-select {
  min-width: $width-default;
  -webkit-appearance:none;

  -webkit-transition: $o_fast_transition_params;
  -moz-transition: $o_fast_transition_params;
  -o-transition: $o_fast_transition_params;
  transition: $o_fast_transition_params;

  border: $o_border;
  height: 34px;

  background: url(../images/selector-arrow.png) no-repeat 100% 0;
  padding: 0 20px;

  option:first-child
  {
    color: $cl_border-color;
    font-weight: 100;
  }

  option.placeholder {
    background-color: red;
  }

}

.bootstrap-select:focus {
  border-color: $cl_sidebar-active-item-text-color !important;
  outline: 0 !important;
  -webkit-box-shadow: $o_focus_box_shadow !important;
  box-shadow: $o_focus_box_shadow !important;
}
