@import "utilities/variables";

div.header {
  z-index:$o_header_z_index;
  width: 100%;
  height: $d_header-ht;
  max-height: $d_header-ht;
  position: fixed;
  padding-right: $d_default-pad;
  background-color: $cl_sidebar;
  box-shadow: $o_box-shadow-bottom;

  div.userinfo {
    display: inline-block;
    width: $d_expanded-sidebar-wd;
    padding: $d_default-pad;
    background-color: $cl_sidebar;
    height: 100%;
  }

  div.headermenu {
    position: absolute;
    display: inline-block;
    padding-left: $d_default-pad;
    padding-right: $d_default-pad;
    height: 100%;

    img{
      max-height: $d_header-ht;
    }
  }

  div.notifier {
    z-index: $o_header_z_index + $o_single_layer_index;
    width: $d_header-ht;
    height: $d_header-ht;

    position: absolute;
    top: 0;
    right: 0;

    img {
      max-width: $d_header-ht;
      max-height: $d_header-ht;
      padding: 10px;
    }

    #notification-badge{
      background-color: $cl_sidebar-active-item-text-color;
      color: $cl_main-element-bckg;
      position: absolute;
      bottom: 5px;
      right: 5px;
    }
  }

  div.notifier:hover{
    img{
      background: url(../images/icon_background.png) no-repeat scroll center center transparent;
      background-size: 35px;
    }
  }

  #notification-area {
    position: fixed;
    right: 0;
    top: -1px;

    #notification-area-header {
      width: $d_notifier_wrap_width;
      height: $d_header-ht;
      border: solid 1px transparent;
      background-color: transparent;
    }

    #notifier-wrapper {
      z-index: $o_header_z_index;
      width: $d_notifier_wrap_width;
      height: 0px;
      min-height: 0px;
      max-height:450px;
      overflow-y: hidden;
      overflow-x: hidden;
      background: $cl_sidebar; //$cl_sidebar;
      box-shadow: $o_box-shadow-left-bottom;
      @include mx_transitions($o_transition_params);
      scroll-behavior: smooth;
    }

    #notifier-wrapper.toggled {
      overflow-y: auto;
      border-top: none;
      height: auto;
    }

    #notifier-wrapper::-webkit-scrollbar {
      width: 5px;
    }

    #notifier-wrapper::-webkit-scrollbar-track {
      background-color: transparent;
    }

    #notifier-wrapper::-webkit-scrollbar-thumb {
      background-color: $cl_scroller_passive;
      @include mx_transitions($o_transition_params);
      border-radius: 30px;
    }

    #notifier-wrapper:hover::-webkit-scrollbar-thumb {
      background-color: $cl_scroller_active;
    }

  }

}

//~~~~~~~~~ FOOTER ~~~~~~~~~~

div.footer {
  position: relative;
  padding-left: $d_default-pad + $d_collapsed-sidebar-wd;
  margin-left: $d_collapsed-sidebar-wd + $d_default-pad;
  padding-right: $d_default-pad;
  margin-top: -1 * $d_footer-ht; /* negative value of footer height */
  height: $d_footer-ht;
  clear:both;
  text-align: center;
  font-size: 0.8em;
  font-weight: lighter;
  color: #888;
}