@import "utilities/variables";

div.panel {
  box-shadow: none;
  margin-bottom: $d_default-pad;
  padding: 0 $d_default-pad/2 $d_default-pad/2 $d_default-pad/2;

  div.panel-body {
    padding-top: $d_default-pad/2;
  }

  table {
    margin-bottom: 0;
  }
}

div.panel-heading, .modal-header {
  font-weight: 400;
  font-size: 1.2em;
  width:auto !important;
  background-color: transparent !important;
  margin-left: $d_default-pad;
  margin-right: $d_default-pad;
  display: inline-block;
  padding: $d_default-pad/4;
  margin-bottom: $d_default-pad/2;

  > h1, h2, h3, h4, h5, h6 {
    margin: 5px;
  }
}

.btn-danger {
  background-color: $cl_danger;
  border-color: $cl_danger_border;
}

.btn-danger:hover {
  background-color: darken($cl_danger, 10);
  border-color: darken($cl_danger_border, 10);
}

.modal {

  .modal-header {
    margin-bottom: 0;
  }

  .modal-body {
    padding: $d_default-pad;
  }

  .modal-footer  {
    margin-top: 0;
    padding: 0 20px 20px 0;
    border: none;
  }

  .form-group {
    margin-left: 0;
    margin-right: 0;
  }
}