@import "utilities/variables";

.sidebar-nav {
  width: $d_expanded-sidebar-wd;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    line-height: 40px;
  }
}

#sidebar-wrapper {
  z-index: $o_header_z_index;
  position: fixed;
  left: $d_expanded-sidebar-wd;
  width: $d_collapsed-sidebar-wd;
  height: 100%;
  margin-left: -1 * $d_expanded-sidebar-wd;
  overflow-y: auto;
  overflow-x:hidden;
  background: $cl_sidebar;
  //border-right: $o_border;
  @include mx_transitions($o_transition_params);
  margin-top: $d_header-ht;
  box-shadow: $o_box-shadow-right;
}

/*~~~~~~~~~~~~~~~~~~~~~~~ <menu icons ~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
img.sidebar-icon {
  max-height: $d_collapsed-sidebar-wd;
  max-width: $d_collapsed-sidebar-wd;
  padding: 5px;
}

.sidebar-nav li img {
  margin: 0 10px;
}
/*~~~~~~~~~~~~~~~~~~~~~~~ menu icons/> ~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~ sidebar/> ~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.sidebar-nav li {

  a {
    //border-left: $d_sidebar-selection-border-wd solid transparent;
    display: block;
    text-decoration: none;
    color: $cl_sidebar-item-text-color;
  }

  a:hover {
    text-decoration: none;
    color: $cl_sidebar-active-item-text-color;
    //border-left-color: $cl_sidebar-item-selection;
    //background: transparentize($cl_sidebar-item-selection, 0.9);
    > img.sidebar-icon {
      background: url(../images/icon_background.png) no-repeat scroll center center transparent;
      background-size: $d_sidebar-icon-bckg_size;
    }
  }

  a.selected:hover {
    //border-left-color: darken($cl_sidebar-item-selection, 15);
    color: darken($cl_sidebar-active-item-text-color, 15);
    //background: transparentize($cl_sidebar-item-selection, 0.7);
    > img.sidebar-icon {
      background: url(../images/icon_background_dark.png) no-repeat scroll center center transparent;
      background-size: $d_sidebar-icon-bckg_size;
    }
  }

  a:active,
  a:focus {
    text-decoration: none;
  }
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: $d_collapsed-sidebar-wd + $d_default-pad;

  a {
    color: $cl_sidebar-item-text-color;
  }

  a:hover {
    color: $cl_sidebar-active-item-text-color;
    //background: none;
  }

}

.sidebar-nav a.selected {
  //border-left-color: $cl_sidebar-item-selection;
  color: $cl_sidebar-active-item-text-color;

  > img.sidebar-icon {
    background: url(../images/icon_background.png) no-repeat scroll center center transparent;
    background-size: $d_sidebar-icon-bckg_size;
  }
}

div.clinic-nav{
  background-color: $cl_clinic-bar-item-selection;
  margin-top: $d_default-pad;

}

/*~~~~~~~~~~~~~~~~~~~~~~~ sidebar/> ~~~~~~~~~~~~~~~~~~~~~~~~~~~*/