@import "utilities/variables";
@import "headerfooter";
@import "sidebar";
@import "panels_modals";
@import "font-awesome.min.css";
@import "select";
@import "chosen";

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2') format("woff2"),
  url('../fonts/Roboto-BoldItalic.woff2') format("woff2"),
  url('../fonts/Roboto-Italic.woff2') format("woff2"),
  url('../fonts/Roboto-Light.woff2') format("woff2"),
  url('../fonts/Roboto-LightItalic.woff2') format("woff2"),
  url('../fonts/Roboto-Medium.woff2') format("woff2"),
  url('../fonts/Roboto-MediumItalic.woff2') format("woff2"),
  url('../fonts/Roboto-Regular.woff2') format("woff2");
}

body {
  overflow-x: hidden;
  font-family: Roboto;
  font-weight: lighter;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

label {
  font-weight: 500;
}

div.workarea {
  padding-bottom: $d_footer-ht;
  background-color: $cl_main-bckg;
  padding-top: $d_header-ht;
  padding-left: 2 * $d_default-pad;
  padding-right: $d_default-pad;
}


/* Toggle Styles */

div.wrapper {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  @include mx_transitions($o_transition_params);

  margin-left: $d_collapsed-sidebar-wd;
  padding-right: $d_collapsed-sidebar-wd + $d_default-pad;
  position: relative;
  height: auto;
  min-height: 100%;
  background-color: $cl_main-bckg;
}

div.container-fluid {
  padding: 0;
}

#page-content-wrapper {
  width: 100%;
}

@media(min-width:768px) {

  div.wrapper {
    margin-left: $d_collapsed-sidebar-wd + $d_default-pad;
  }

  #sidebar-wrapper {
    width: $d_collapsed-sidebar-wd + $d_default-pad;
  }

  #sidebar-wrapper.toggled {
    width: $d_expanded-sidebar-wd;
  }
}


.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  padding-left: $d_default-pad;
  padding-right: $d_default-pad;
}

.form-control {
  @include mx_transitions($o_fast_transition_params);
}

.form-control:focus {
  border-color: $cl_sidebar-active-item-text-color;
  outline: 0;
  -webkit-box-shadow: $o_focus_box_shadow;
  box-shadow: $o_focus_box_shadow;
}


/*~~~~~~~~~~~~~~~~~~~~~~~ <tables ~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.table {
  cursor: default;

  td.action-td {
    width: 60px;
    text-align: center;
    button {
      padding: 2px 5px 1px 5px;
    }
  }

  tr:not(:first-child):hover {
    background-color: $cl_sidebar;
  }

  &.bordered {
    >thead {
      border-color: transparent;
      th {
        border-bottom-width: 1px !important;
      }

      th:first-child {
        border-left-color: transparent;
      }

      th:last-child {
        border-right-color: transparent;
      }
    }
    >tbody>tr {
      >td:first-child {
        border-left-color: transparent;
      }

      >td:last-child {
        border-right-color: transparent;
      }
    }
  }

  &.striped {
    tr:nth-child(odd) {
      background: $cl_main-element-bckg;
    }
    tr:nth-child(even) {
      background: $cl_background-contrast;
    }

    tr:not(:first-child):hover {
      background-color: $cl_sidebar;
    }
  }
}


/*~~~~~~~~~~~~~~~~~~~~~~~ tables/> ~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.spacediv {
  height: $d_default-pad;
}

table.timetable {
  font-size: 8pt;
  text-align: center;

  tr:nth-child(1) {
    background-color: $cl_background-contrast;
    font-weight: bold;
  }

  td {
    border: $o_border;
    padding: 2px !important;
  }
}

div.well {
  background-color: $cl_background-blue-contrast;
}

div.control-header {
  >.panel-body {
    padding-left: 20px;
  }
}

div.tab-panel {
  border: $o_border;
  border-top: none;
  padding: $d_default-pad;
}

.hided {
  display: none;
}

.loading-shadow {
  background-color: rgba(36, 36, 36, 0.8);
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
  z-index: 9*$o_single_layer_index;
  padding-left: $d_default-pad;
  padding-right: $d_default-pad;

  .loading-gif {
    top: 50%;
    max-width: 80px;
    left: 14%;
  }
}

.notification {
  width: auto;
  margin: 10px 5px 10px 10px;
  background-color: $cl_main-element-bckg; //$cl_background-blue-contrast;
  position: relative;
  @include mx_transitions($o_fast_transition_params);
  border-radius: $d_border-radius;

  .time {
    position: absolute;
    top: 0;
    right: 0;
    font-size: .8em;
    font-weight: 100;
    margin: 5px 10px;
    color: #777;
  }

  .message {
    padding: 1.6em 1.2em 1.2em 1.2em;
    text-align: justify;
    font-weight: 100;
  }
}

.notification.new {
  box-shadow: 0px 0px 5px 0px $cl_sidebar-item-dark-selection;
}

#notification-showarea {
  width: 20%;
  background-color: transparent;
  position: fixed;
  z-index: $o_header_z_index + $o_single_layer_index;
  bottom: 10px;
  left: $d_default-pad;
  max-height: 50%;
  overflow-y: auto;
  padding: 5px;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $cl_scroller_passive;
    @include mx_transitions($o_transition_params);
    border-radius: 30px;
  }

  .notification:first-child {
    margin-top: 0;
  }

  .notification:last-child {
    margin-bottom: 0;
  }

  .notification {
    border: $o_border;
    box-shadow: 0px 0px 8px -4px #666;
    opacity: 0.7;

    .time {
      left: 0;
      right: auto;
    }

    .close-btn {
      position: absolute;
      right: 0;
      top: 0;
      margin-right: 5px;
    }

    .close-btn:hover {
      text-shadow: 2px 2px rgba(0, 0, 0, .2);
    }

    .close-btn:active {
      text-shadow: 1px 1px rgba(0, 0, 0, .3);
      color: #000;
    }

    &:hover {
      box-shadow: 0px 0px 10px -3px #666;
    }
  }

  &:hover {
    .notification {
      opacity: 1;
    }
  }
}

#notification-showarea:hover::-webkit-scrollbar-thumb {
  background-color: $cl_scroller_active;
}

div.dropdown {
  display: inline-block;

  .dropdown-toggle {
    background-color: $cl_main-element-bckg;
    color: $cl_main-text;
    border: $o_border;
  }

  &.open {
    .dropdown-toggle {
      background-color: $cl_pressed_btn;
      color: $cl_main-text;
      border: $o_border;
    }

    .dropdown-menu {
      z-index: 5*$o_single_layer_index;
    }
  }
}

.bootstrap-select {
  display: inline-block;
}

.alert {
  margin-bottom: 0;
  padding: 5px 10px;
  text-align: center;

  &.alert-loading {
    background-color: $cl_shadow;

    img {
      max-height: 32px;
      max-width: 32px;
    }
  }
}

.alert-danger {
  color: $cl_danger_border;
  background-color: $cl_alert_danger_bckg;
}

a.switch {
  border: $o_border;
  border-radius: 30px;
  width: 20px;
  height: 20px;
  margin: 5px;
  padding: 2px .26em;
  display: inline-block;
  outline: 0;
  color: $cl_main-text;

  @include mx_transitions($o_fast_transition_params);

  &.on {
    background-color: $cl_success;
    border-color: $cl_success_border;
    color: $cl_success;
  }

  &.off {
    background-color: $cl_main-element-bckg;
    box-shadow: -1*(2*$d_default-pad - 5) 0px 0px $cl_danger;
    border-color: transparent;
  }
}

ul.selector {
  border: $o_border;
  height: $d_btn-height;
  padding: 0;
  list-style-type: none;
  border-radius: $d_border-radius;

  input {
    display: none;

    &+label {
      cursor: pointer;
      color: $cl_shaded_text;
      margin: 0;
      padding: 4px 0px;
      width: 100%;
      background-color: $cl_pressed_btn;
      font-weight: 100;

      @include mx_transitions($o_fast_transition_params);
    }

    &:checked+label {
      color: $cl_main-text;
      background-color: $cl_main-element-bckg;
    }
  }

  li {
    display: inline-block; //cursor: pointer;
    box-sizing: border-box;
    float: left;
    text-align: center;

    &.selected {
      color: $cl_main-text;
      background-color: $cl_main-element-bckg;
    }

    &:first-child {
      border-top-left-radius: $d_border-radius;
      border-bottom-left-radius: $d_border-radius;

      &>label {
        border-top-left-radius: $d_border-radius;
        border-bottom-left-radius: $d_border-radius;
      }
    }

    &:last-child {
      border-top-right-radius: $d_border-radius;
      border-bottom-right-radius: $d_border-radius;

      &>label {
        border-top-right-radius: $d_border-radius;
        border-bottom-right-radius: $d_border-radius;
      }
    }
  }

  li:only-child {
    width: 100%;
  }

  li:first-child:nth-last-child(2),
  li:first-child:nth-last-child(2)~li {
    width: 50%;
  }

  li:first-child:nth-last-child(3),
  li:first-child:nth-last-child(3)~li {
    width: 33.3333%;
  }

  li:first-child:nth-last-child(4),
  li:first-child:nth-last-child(4)~li {
    width: 25%;
  }

  li:first-child:nth-last-child(5),
  li:first-child:nth-last-child(5)~li {
    width: 20%;
  }
}

.tooltip>.tooltip-inner {
  background-color: $cl_main-element-bckg;
  box-shadow: 0px 0 5px rgba(0, 0, 0, 0.5);
  color: $cl_main-text;
}

// ~~~~~~~~~~~~~~~~ CARDS ~~~~~~~~~~~~~~~~~~~~
div.card {
  position: relative;
  border: $o_border;
  border-radius: $d_border-radius;
  padding: $d_default-pad;

  div {
    display: inline-block;
  }

  .type {
    position: absolute;
    top: $d_default-pad/2;
    left: $d_default-pad;
    text-decoration: underline;
  }

  .tooltip {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    @include mx_transitions($o_fast_transition_params);


    &.toggled {
      top: -25px;
      opacity: 1;
    }

    .db_tooltip {
      background-color: #fff;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
      padding: 5px;
      border-radius: 4px;
    }

    .triangle {
      content: '';
      height: 10px;
      overflow: hidden;
      display: block;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        background: $cl_main-element-bckg;
        transform: rotate(45deg);
        top: -5px;
        right: 30px;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
      }
    }
  }

  .db {
    background: url('../images/db_tr.png') no-repeat scroll center center transparent;
    position: absolute;
    top: 0;
    right: 0;
    padding: $d_default-pad;
    font-style: italic;
    cursor: pointer;
  }

  .guid {
    margin-top: $d_default-pad;
    margin-bottom: $d_default-pad/2;
    border-radius: $d_btn-height;
    padding: 2px 5px;
  }

  .name {
    font-weight: 500;
    font-size: 1.1em;
  }

  .bank_plus_address {

    margin-top: $d_default-pad;

    .bank_data {
      border-radius: $d_border-radius;
      border: $o_border;
      border-top: none;
      border-bottom: none;

      td {
        padding: 0 5px;
        &:first-child {
          font-weight: 500;
        }

        &:nth-child(2) {
          font-style: italic;
          font-weight: 100;
          font-size: 0.9em;
        }
      }

      div {
        font-style: italic;
      }
    }

    .address {
      padding: $d_default-pad/2;
    }
  }

  .address {
    padding-left: $d_default-pad;
    padding-top: $d_default-pad/2;
  }


  &.enterprise {
    background-color: $cl_enterprise_card;

    .guid {
      background-color: $cl_enterprise_guid;
    }
  }


  &.businessEntity {
    background-color: $cl_businessEntity_card;

    .guid {
      background-color: $cl_businessEntity_guid;
    }
  }
}

.mw100 {
  max-width: 100%;
}

.v-center {
  min-height: 200px;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
}

.btn-group-vertical {
  div {

    text-align: center;

    &:first-child>button {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:not(:first-child,
         :last-child)>button {
      border-radius: 0;
    }

    &:last-child>button {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

.toolpanel {
  padding-top: $d_default-pad;
  padding-bottom: $d_default-pad;
}