//dimensions
$d_header-ht: 65px;
$d_footer-ht: 25px;
$d_default-pad: 20px;
$d_collapsed-sidebar-wd: 50px;
$d_expanded-sidebar-wd: 250px;
$d_border-radius: 4px;
$d_sidebar-selection-border-wd: 3px;
$d_notifier_wrap_width: 450px;

$d_sidebar-icon-bckg_size: 32px;

$d_btn-height: 30px;

//colors
$cl_main-bckg: #fafafb;
$cl_main-element-bckg: #fff;
$cl_main-text: #333;
$cl_pressed_btn: #ebebeb;
$cl_shaded_text: #999;

$cl_sidebar-item-selection: #55acdb;
$cl_clinic-bar-item-selection: #f0f0f0;
$cl_border-color: #dddddd;
$cl_sidebar-item-text-color: #000;
$cl_sidebar-active-item-text-color: #55acdb;
$cl_sidebar-item-dark-selection: #1a86ba;

$cl_background-contrast: #f9f9f9;
$cl_background-blue-contrast: #f7fbfd;

$cl_sidebar: #eef6fb;
$cl_shadow: rgba(0, 0, 0, 0.5);
$cl_scroller_passive: rgba(0, 0, 0, 0.05);
$cl_scroller_active: rgba(0, 0, 0, 0.3);

$cl_success: #40ab54;
$cl_success_border: #39984a;

$cl_danger: #ec5151;
$cl_danger_border: #d34848;
$cl_alert_danger_bckg: #f2e5e5;

$cl_enterprise_card: $cl_sidebar;
$cl_enterprise_guid: #dee6eb;
$cl_businessEntity_card: #defbe2;
$cl_businessEntity_guid: #ceebd2;

$cl_tooltip_bckg: $cl_main-element-bckg;

//other
$o_transition_params: all 0.5s ease;
$o_fast_transition_params: all 0.25s ease;
$o_border: $cl_border-color 0.5px solid;
//box-shadow values: shadowsize top-offset
$o_box-shadow-bottom: 5px 0 8px $cl_shadow;
$o_box-shadow-right: 5px 0px 5px -5px $cl_shadow;
$o_box-shadow-left-bottom: -5px 5px 5px -5px $cl_shadow;
$o_single_layer_index: 100;

$o_header_z_index: 10*$o_single_layer_index;

$o_focus_box_shadow: inset 0 1px 1px rgba(221, 221, 221, .075), 0 0 8px rgba(85, 172, 219, .6);


// ~~~~~~~~~~ bootstrap-selector

$color-red-error: rgb(185, 74, 72) !default;
$color-grey-arrow: rgba(204, 204, 204, 0.2) !default;

$width-default: 220px !default; // 3 960px-grid columns

$zindex-select-dropdown: 5 * $o_single_layer_index !default; // must be higher than a modal background (1050)

$input-color-placeholder: #999 !default;

@mixin mx_transitions ($transition_params){
  -webkit-transition: $transition_params;
  -moz-transition: $transition_params;
  -o-transition: $transition_params;
  transition: $transition_params;
}